@tailwind base;
@tailwind components;
@tailwind utilities;

/** ==============================
 Fonts
============================== **/

@font-face {
    font-family: futile-pro;
    src: url('FutilePro.eot') format('embedded-opentype'),
        url('FutilePro.woff') format('woff'),
        url('FutilePro.ttf') format('truetype'),
        url('FutilePro.svg#FutilePro') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** ==============================
 Global
============================== **/
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/** ==============================
 Scrollbar
============================== **/

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #0f172a;
    }

    ::-webkit-scrollbar-thumb {
        background: #475569;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #94a3b8;
    }
}