@tailwind base;
@tailwind components;
@tailwind utilities;

/** ==============================
 Fonts
============================== **/
@font-face {
    font-family: matchup-pro;
    src: url('MatchupPro.eot') format('embedded-opentype'),
        url('MatchupPro.woff2') format('woff2'),
        url('MatchupPro.woff') format('woff'),
        url('MatchupPro.ttf') format('truetype'),
        url('MatchupPro.svg#MatchupPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: futile-pro;
    src: url('FutilePro.eot') format('embedded-opentype'),
        url('FutilePro.woff2') format('woff2'),
        url('FutilePro.woff') format('woff'),
        url('FutilePro.ttf') format('truetype'),
        url('FutilePro.svg#FutilePro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ex-pro;
    src: url('ExpressionPro.eot') format('embedded-opentype'),
        url('ExpressionPro.woff2') format('woff2'),
        url('ExpressionPro.woff') format('woff'),
        url('ExpressionPro.ttf') format('truetype'),
        url('ExpressionPro.svg#ExpressionPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: eq-pro;
    src: url('EquipmentPro.eot') format('embedded-opentype'),
        url('EquipmentPro.woff2') format('woff2'),
        url('EquipmentPro.woff') format('woff'),
        url('EquipmentPro.ttf') format('truetype'),
        url('EquipmentPro.svg#EquipmentPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: compass-pro;
    src: url('CompassPro.eot') format('embedded-opentype'),
        url('CompassPro.woff2') format('woff2'),
        url('CompassPro.woff') format('woff'),
        url('CompassPro.ttf') format('truetype'),
        url('CompassPro.svg#CompassPro') format('svg');
    font-weight: normal;
    font-style: normal;
}



/** ==============================
 Global
============================== **/
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/** ==============================
 Scrollbar
============================== **/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #475569;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}